{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

   <h1>Entrez votre identifiant et Mot de passe</h1>

   {% if error %}
        <div class="invalid-feedback d-block">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
   {% endif %}

   <form action="{{ path('security_login') }}" method="post">
         <div class="mb-3">
            <label for="username" class="form-label required">Identifiant</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Entrez votre Email ..." class="form-control">
         </div>
         <div class="mb-3">
            <label for="password" class="form-label required">Mot de passe</label>
            <input type="password" id="password" name="_password" placeholder="Entrez votre Mot de passe ..." class="password-field form-control">
         </div>

         {# If you want to control the URL the user is redirected to on success #}
         {# <input type="hidden" name="_target_path" value="/account"> #}
         
         <div class="mb-3">
            <button type="submit" class="btn btn-info">Connexion</button>
         </div>
    </form>

{% endblock %}
